<a href="https://colab.research.google.com/github/caiochacon/ufpb_intro_cd/blob/main/Exerc%C3%ADcio_Caio_Lucsa_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/yurimalheiros/icd/master/datasets/movies.csv')

In [4]:
df.head(1)

            Title  US Gross  ...  IMDB Rating  IMDB Votes
0  The Land Girls  146083.0  ...          6.1      1071.0

[1 rows x 16 columns]

### Qual o gênero de filme mais lucrativo em todo o mundo?

R: Aventura, com um granho mundial de 66.080.960.000 (provavelmente dólares)

In [13]:
# ADICIONE O SEU CÓDIGO AQUI
df.groupby('Major Genre').sum()['Worldwide Gross'].sort_values(ascending=False)[:1]

Major Genre
Adventure    6.608096e+10
Name: Worldwide Gross, dtype: float64

### Qual o diretor dirigiu mais filmes?

O diretor com mais filmes é o Steven Spielberg, com 23 filmes.

In [20]:
# ADICIONE O SEU CÓDIGO AQUI
# Quantidade de vezes que o nome do Diretor aparece
df['Director'].value_counts()[:3]

Steven Spielberg    23
Woody Allen         16
Martin Scorsese     15
Name: Director, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

Abaixo, o top 10 de filmes que mais tiveram arrecadação com relação ao seu orçamento de produção.

In [32]:
# ADICIONE O SEU CÓDIGO AQUI
df['Gross/Budget'] = df['Worldwide Gross'] / df['Production Budget']
df[['Title', 'Gross/Budget']].sort_values('Gross/Budget', ascending=False)[:10]

                         Title  Gross/Budget
2526       Paranormal Activity  12918.030200
2920                 Tarnation   5330.339450
244                Deep Throat   1800.000000
603                    Mad Max    498.750000
2758             Super Size Me    454.297969
132      The Brothers McMullen    417.060240
1318   The Blair Witch Project    413.833333
531                El Mariachi    291.560000
651   Night of the Living Dead    263.157895
781                      Rocky    225.000000